* {
    border: 0px solid red;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

footer > p {
    color: aliceblue;
    font-size: 0.7em;
    text-align: center;
}

body {
    background-color: #041912;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
  }

#container {
    display: flex;
    justify-content: center;
    padding: 20px;

}

#calculator {
    background-color: black;-

}

#calculator {
    padding: 20px;
    border-radius: 20px;
    background-color:;
}

#display {
    display: grid;
    grid-template-areas:
    "memory memory"
    "operator main";
    grid-template-columns: 30px 220px;
    grid-template-rows: 1.2em 3em;

}

#memory {
    grid-area: memory;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#operator {
    grid-area: operator;
    color: white;
    font-size: 2em;
}


#main {
    grid-area: main;
    color: white;
    font-size: 1.75em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#buttons {
    display: grid;
    grid-template-areas:    "clear  posneg  backspace divide"
                            "num7   num8    num9    multiply"
                            "num4   num5    num6    subtract"
                            "num1   num2    num3    add"
                            "num0   num0    dot     equal";
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
    padding: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
}

#clear {
    grid-area: clear;
    background-color: lightgray;
}

#posneg {
    grid-area: posneg;
    background-color: lightgray;
}

#backspace{
    grid-area: backspace;
    background-color: lightgray;
}

#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiply;
}

#subtract {
    grid-area: subtract;
}

#add {
    grid-area: add;
}

#equal{
    grid-area: equal;
    background-color: gray;
    color: white;
}

#dot {
    grid-area: dot;
    background-color: rgb(72, 72, 72);
    color: white;
}

#num0 {
    grid-area: num0;
    border-radius: 25px;

}

.number {
    background-color: rgb(72, 72, 72);
    color: white;
}

.operator {
    background-color: orange;
    color: white;
}

#num1 {
    grid-area: num1;
}

#num2 {
    grid-area: num2;
}

#num3 {
    grid-area: num3;
}

#num4 {
    grid-area: num4;
}

#num5 {
    grid-area: num5;
}

#num6 {
    grid-area: num6;
}

#num7 {
    grid-area: num7;
}

#num8 {
    grid-area: num8;
}

#num9 {
    grid-area: num9;
}